# Node
node_modules/
.next/
dist/
.turbo/
*.tsbuildinfo
.pnpm-store/
next-env.d.ts

# Go
*.exe
/apps/backend/tmp/
/apps/worker/tmp/
/apps/backend/api
/apps/backend/cmd/api/api
/apps/worker/worker
/apps/worker/cmd/worker/worker

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
